<!doctype html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
     <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link herf="style.css" rel="stylesheet">
<title>Awards</title>
  <style>
  a {
    text-decoration: none;
   }

      body {
    background: url(https://i.ibb.co/K0bM0nq/lmhb-WPI5w-Y.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
   }
     .brd {
    border: 5px double gray;
    padding: 10px;
   }
      .scale {
    transition: 1s; /* Время эффекта */
   }
   .scale:hover {
    transform: scale(1.2);
    }


    table {
border-spacing: 0 10px;
font-family: 'Open Sans', sans-serif;
font-weight: bold;
}
th {
padding: 10px 20px;
background: #9400D3;
color: #E6E6FA;
border-right: 2px solid;
font-size: 0.9em;
}
th:first-child {
text-align: left;
}
th:last-child {
border-right: none;
}
td {
vertical-align: middle;
padding: 10px;
font-size: 14px;
text-align: center;
border-top: 2px solid #E6E6FA;
border-bottom: 2px solid #E6E6FA;
border-right: 2px solid #E6E6FA;
}
td:first-child {
border-left: 2px solid #E6E6FA;
border-right: none;
}
td:nth-child(2){
text-align: left;
}


  </style>
</head>


<body>

<div class="container">
  <header class="blog-header py-3">
       <div class="row flex-nowrap align-items-center">
        <center>
      <div class="col-4 text-center">
        <center><h1 class="blog-header-logo text-dark"><font face="Segoe script">Seongceae</font></h1></center>
      </div>
        </center>
    </div>
  </header>

<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
        <p><a href="/"><img src="https://i.ibb.co/vmJtWjS/HYqr-GGLZub-U-removebg-preview-1.png" width="40"
   height="30" border="0"></a></p>
        <font size="5" face="footlight mt light"><a class="p-2 link-secondary" href="/SK" style="color: black">Южная Корея</a></font>
      <font size="5" face="footlight mt light"><a class="p-2 link-secondary" href="/member" style="color: black">Профили участников</a></font>
      <font size="5" face="footlight mt light"><a class="p-2 link-secondary" href="/universe" style="color: black">BTS Universe</a></font>
      <font size="5" face="footlight mt light"><a class="p-2 link-secondary" href="/webtoon" style="color: black">Webtoon</a></font>
      <font size="5" face="footlight mt light"><a class="p-2 link-secondary" href="/show" style="color: black">Шоу</a></font>
        <font size="5" face="footlight mt light"><a class="p-2 link-secondary" href="/logchat" style="color: black">Чат</a></font>
    </nav>
  </div>
</div>

<main class="container">

    <a><img src="https://i.ibb.co/Wc6620x/53e6-Ipi-Tb7bx7w1z-FAKOb-Zp-Bk-KXMFt-IHKx8so-Xzm7-Fr0mgw-Fo5h-QAld-VEFw-DNf-RShy-K-QNf-Cs-Yj-LLKon23.jpg" width="450" hight="150" align="right" border="0" vspace="10" hspace="60" class="scale"></a>
    <div class="p-4 p-md-5 mb-4 text-black brd">
    <div class="col-md-6 px-0">
      <font face="footlight mt light"><h1 class="display-4 fst-italic">Достижения BTS</h1></font>
      <font size="6" face="footlight mt light"><p class="lead my-3">Это список наград и номинаций, полученных BTS, группой дебютировавшей в 2013 году в BigHit Music. BTS получили в общей сложности 443 наград из 639 номинаций. А также поставили множество мировых рекордов</p></font>
    </div>
  </div>


<div style="float: left; width: 49%;">
        <font style="italic" face="footlight mt light">
            <table>
<tr>
  <th colspan="2">Награда</th>
  <th>Побед</th>
  <th>Номинаций</th>
</tr>

<tr>
  <td><img src="https://i.ibb.co/7YxFN7j/BTS-7-1068x641.jpg" height="80" width="120"></td>
  <td>American Music Awards</td>
  <td>6</td>
  <td>6</td>
</tr>

<tr>
  <td><img src="https://i.ibb.co/fQ0wvQd/1760161563-0-139-2981-1816-1920x0-80-0-0-ba9bbe3ae9fe015e3cee1f0077299363.jpg" height="80" width="120"></td>
  <td>Анугера Бинтанг Популярная Берита Хариан</td>
  <td>1</td>
  <td>1</td>
</tr>

<tr>
  <td><img src="https://i.ibb.co/Nmqyt30/daef82f5800b4e2a8d5baf2873484a7a-1.jpg" height="80" width="120"></td>
  <td>Награды художников Азии</td>
  <td>10</td>
  <td>14</td>
</tr>

<tr>
  <td><img src="https://i.ibb.co/ySg1Tj7/scale-1200.webp" height="80" width="120"></td>
  <td>Азиатские награды</td>
  <td>1</td>
  <td>1</td>
</tr>

<tr>
  <td><img src="https://i.ibb.co/HBPvZmj/2019112622217965555-3.jpg" height="80" width="120"></td>
  <td>BBC Radio1 Teen Awards</td>
  <td>2</td>
  <td>2</td>
</tr>

<tr>
  <td><img src="https://i.ibb.co/qn8rXZ0/2-2-782x440.jpg" height="80" width="120"></td>
  <td>Рекламный щит: Музыкальные награды</td>
  <td>5</td>
  <td>6</td>
</tr>

<tr>
  <td><img src="https://i.ibb.co/p0GSfBd/4ff35976a9b5222c.jpg" height="80" width="120"></td>
  <td>BraVo Music Awards</td>
  <td>1</td>
  <td>1</td>
</tr>

<tr>
  <td><img src="https://i.ibb.co/Qr2fxkT/BTS-artistoftheyear-1068x659.jpg" height="80" width="120"></td>
  <td>Награды Браво Отто</td>
  <td>1</td>
  <td>2</td>
</tr>

<tr>
  <td><img src="https://i.ibb.co/jyTBSPk/201123021910100707-450x299.jpg" height="80" width="120"></td>
  <td>BreakTudo Награды</td>
  <td>8</td>
  <td>14</td>
</tr>

<tr>
  <td><img src="https://i.ibb.co/6svFm84/c683da846fcb41cc867706596cd02100.jpg" height="80" width="120"></td>
  <td>E! Приз зрительских симпатий</td>
  <td>8</td>
  <td>11</td>
</tr>

<tr>
  <td><img src="https://i.ibb.co/VCdbhMC/unnamed-3.jpg" height="80" width="120"></td>
  <td>Edaily Culture Awards</td>
  <td>2</td>
  <td>2</td>
</tr>

<tr>
  <td><img src="https://i.ibb.co/gR6cKNg/88e9e8a14f1904cbaaad3f0de9f61505.jpg" height="80" width="120"></td>
  <td>The Fact Music Awards</td>
  <td>12</td>
  <td>16</td>
</tr>
<tr>
  <td><img src="https://i.ibb.co/1J8C0bp/unnamed-2.jpg" height="80" width="120"></td>
  <td>Gaffa-Prisen</td>
  <td>2</td>
  <td>3</td>
</tr>
<tr>
  <td><img src="https://i.ibb.co/jLhM3Fv/224a3210ffcc4649bf713e477ced775d.jpg" height="80" width="120"></td>
  <td>Награды Gaon Chart Music Awards</td>
  <td>13</td>
  <td>32</td>
</tr>
<tr>
  <td><img src="https://i.ibb.co/NCKWFf0/fa22f01bca7cbc4b.jpg" height="80" width="120"></td>
  <td>Genie Music Awards</td>
  <td>17</td>
  <td>24</td>
</tr>
<tr>
  <td><img src="https://i.ibb.co/0fQXvfD/67850649-LAS-VEGAS-NVMAY-21-Music-group-BTS-winner-of-the-Top-Social-Artist-award-pose-in-the.jpg" height="80" width="120"></td>
  <td>Золотой диск</td>
  <td>20</td>
  <td>31</td>
</tr>
<tr>
  <td><img src="https://i.ibb.co/LYQnwvR/depositphotos-154119600-stock-photo-bts-at-the-2017-billboard.jpg" height="80" width="120"></td>
  <td>награда Grammy</td>
  <td>0</td>
  <td>2</td>
</tr>
<tr>
  <td><img src="https://i.ibb.co/KjYRpDX/unnamed-5.jpg" height="80" width="120"></td>
  <td>iF Design Awards</td>
  <td>1</td>
  <td>1</td>
</tr>
<tr>
  <td><img src="https://i.ibb.co/2tQBpfC/ebe6e5293388487e9f4497c0033d4993.webp" height="80" width="120"></td>
  <td>MMVA iHeartRadio</td>
  <td>1</td>
  <td>1</td>
</tr>
<tr>
  <td><img src="https://i.ibb.co/2N147fS/image.webp" height="80" width="120"></td>
  <td>iHeartRadio Music Awards</td>
  <td>5</td>
  <td>5</td>
</tr>
<tr>
  <td><img src="https://i.ibb.co/9rYkJrp/unnamed-4.jpg" height="80" width="120"></td>
  <td>Награды за золотой диск Японии</td>
  <td>12</td>
  <td>12</td>
</tr>
<tr>
  <td><img src="https://i.ibb.co/8MMBbyc/bts-9.jpg" height="80" width="120"></td>
  <td>Ассоциация журналистов Кореи</td>
  <td>1</td>
  <td>1</td>
</tr>
<tr>
  <td><img src="https://i.ibb.co/VLpPZj3/bts-156.jpg" height="80" width="120"></td>
  <td>Korea First Brand Awards</td>
  <td>2</td>
  <td>2</td>
</tr>
<tr>
  <td><img src="https://i.ibb.co/bbHKQrc/depositphotos-234210042-stock-photo-members-of-south-korean-boy.webp" height="80" width="120"></td>
  <td>Korea Popular Music Awards</td>
  <td>2</td>
  <td>5</td>
</tr>
<tr>
  <td><img src="https://i.ibb.co/tzkjFYW/maxresdefault-2.jpg" height="80" width="120"></td>
  <td>Награды корейского вещания</td>
  <td>3</td>
  <td>3</td>
</tr>
<tr>
  <td><img src="https://i.ibb.co/Jm2tk7Z/3-2.jpg" height="80" width="120"></td>
  <td>Korean Music Awards</td>
  <td>24</td>
  <td>14</td>
</tr>
<tr>
  <td><img src="https://i.ibb.co/K5Fx0g3/15010-B4-C-878-C-4-AC2-95-B5-C7-B7-FE01946-B.jpg" height="80" width="120"></td>
  <td>Награды Melon Music Awards</td>
  <td>29</td>
  <td>41</td>
</tr>
<tr>
  <td><img src="https://i.ibb.co/Ln0wdsS/31531a631d45414cfd422ea217fb6a60-BF.jpg" height="80" width="120"></td>
  <td>Меус Премиос Ник</td>
  <td>4</td>
  <td>7</td>
</tr>

<tr>
  <td><img src="https://i.ibb.co/QkNNjNL/depositphotos-196629232-stock-photo-las-vegas-may-20-bts.webp" height="80" width="120"></td>
  <td>Mnet Asian Music Awards</td>
  <td>33</td>
  <td>51</td>
</tr><tr>
  <td><img src="https://i.ibb.co/StwRsnf/los-angeles-california-usa-december-600w-1593648268.webp" height="80" width="120"></td>
  <td>MTV Europe Music Awards</td>
  <td>10</td>
  <td>19</td>
</tr>
<tr>
  <td><img src="https://i.ibb.co/8ckzdYD/los-angeles-ca-november-19-600w-763059208.webp" height="80" width="120"></td>
  <td>MTV Millennial Awards</td>
  <td>3</td>
  <td>4</td>
</tr>
<tr>
  <td><img src="https://i.ibb.co/5nbcjyM/09320238.jpg" height="80" width="120"></td>
  <td>MTV Millennial Awards Бразилия</td>
  <td>5</td>
  <td>5</td>
</tr>
<tr>
  <td><img src="https://i.ibb.co/5FTRrzv/a7a3cde780cbf28b.jpg" height="80" width="120"></td>
  <td>MTV Video Music Awards</td>
  <td>6</td>
  <td>9</td>
</tr>
<tr>
  <td><img src="https://i.ibb.co/gmXtrCk/BTS-win-Best-New-Artist-award-at-Melon-Music-Awards-14-November-2013.jpg" height="80" width="120"></td>
  <td>MTV Video Music Awards Япония</td>
  <td>3</td>
  <td>4</td>
</tr>
<tr>
  <td><img src="https://i.ibb.co/FWxvL9G/maxresdefault-1.jpg" height="80" width="120"></td>
  <td>Myx Music Awards</td>
  <td>2</td>
  <td>2</td>
</tr>
</table>
        </font>
</div>

    <div style="float: right; width: 49%;">
        <font style="italic" color="#4169E1" face="footlight mt light"><h3 class="blog-post-title fst-italic">BTS World Domination</h3></font>
        <font face="footlight mt light"><h5 class="blog-post-title">Конечно, настоящий гарант того, что ты лучший в мире — это попасть в Книгу рекордов Гиннесса. У BTS это удалось сделать аж с 23 рекордами! Мы сейчас говорим именно о музыке, так что ниже перечислены достижения группы, непосредственно связанные с творчеством:</h5></font>
        <font style="italic" face="footlight mt light" size="4">
            <ul>
          <li>Первая k-pop группа, занявшая первое место в альбомном чарте США (2 июня 2018 г.)</li>
          <li>Первая k-pop группа, занявшая первое место в сотне лучших исполнителей США (2 июня 2018 г)</li>
          <li>Первая k-pop группа, вошедшая в десятку лучших синглов в чартах США (2 июня 2018 г.)</li>
          <li>189 недель на первом месте чарта Billboard Social 50 (1 августа 2020 г.)</li>
          <li>32 недели k-pop трека в US Hot 100 (10 апреля 2021 г.)</li>
          <li>5 наград Nickelodeon Kids 'Choice Awards, выигранных одной музыкальной группой (13 марта 2021 г.)</li>
          <li>18 недель на первом месте в чарте продаж цифровых песен Billboard (10 апреля 2021 г.)</li>
          <li>Самый транслируемый акт на Spotify (группа) — 16,300,000,000 миллиардов прослушиваний (27 апреля 2021 г.)</li>
          <li>Самый высокий доход среди k-pop групп (за год) — 50 000 000 долларов (01 июнь 2020 г.)</li>
          <li>756 000 тысяч зрителей на прямой трансляции концерта на специальной платформе (14 июня 2020 г.)</li>
          <li>756 000 тысяч билетов, проданных на прямую трансляцию концерта (14 июня 2020 г.)</li>
          <li>13 Дэсанов (главных призов) на Mnet Asian Music Awards (6 декабря 2020 г.)</li>
                <li>Самое большое количество взаимодействий в Твиттере с аккаунтами музыкальной группы — 422 228 тысяч взаимодействий (29 апреля 2019 г)</li>
                <li>Самое быстрое время набора миллиона подписчиков в TikTok — 3 часа 31 минута (25 сентября 2019 г.)</li>
                <li>Самое просматриваемое видео на YouTube за 24 часа — клип «Dynamite», 101 100 000 млн просмотров (22 августа 2020 г.)</li>
                <li>Самое большое количество подписчиков (40 220 226 млн.) в Instagram (запрещенная в России экстремистская организация) для музыкальной группы (22 апреля 2021 г.)</li>
                <li>Самый транслируемый трек на Spotify за первые 24 часа — 11 042 335 млн прослушиваний (21 мая 2021 г.)</li>
                <li>Самое большое количество зрителей на премьере музыкального клипа на YouTube — 3 900 000 млн зрителей (21 мая 2021 г.)</li>
                <li>Больше всего зрителей на премьере видео на YouTube — 3 900 000 млн зрителей (21 мая 2021 г.)</li>
                <li>Самое просматриваемое музыкальное видео на YouTube за 24 часа — 108 200 000 млн просмотров (22 мая 2021 г.)</li>
                <li>Самое просматриваемое k-pop видео на YouTube за 24 часа — 108 200 000 млн просмотров (22 мая 2021 г.)</li>
                <li>В 2018 году BTS стали первой k-pop группы, удостоившейся чести выступить с обращением к Организации Объединенных Наций. Трехминутная речь группы была приурочена к церемонии открытия международного партнерства ЮНИСЕФ «Поколение без границ».</li>
                <li>В 2018 году каждому мемберу BTS вручили Орден «За заслуги в культуре» 5 степени за продвижение корейской культуры в мире. Так группа стала самыми молодыми обладателями столь высокой награды Южной Кореи. Ребята также получили звание самых молодых послов культуры.</li>
                <li>В 2021 году BTS снова посетили ООН, но теперь уже как специальные посланники президента Южной Кореи. И они снова отличились, так как являются «первыми» и пока «единственными», кто смог записать музыкальное видео с новым хитом «Permission to Dance» прямо в зале Генеральной Ассамблеи ООН</li>
        </ul>
        </font>
    </div>

    <div style="float: right; width: 49%;">
        <font style="italic" face="footlight mt light">
    <table>
    <tr>
  <td><img src="https://i.ibb.co/VpkjRMp/7463088-6498979-image-a-20-1544888428966.jpg" height="80" width="120"></td>
  <td>Награды Nickelodeon Argentina Kids 'Choice Awards</td>
  <td>2</td>
  <td>4</td>
</tr><tr>
  <td><img src="https://i.ibb.co/DDjYf2Q/bts.jpg" height="80" width="120"></td>
  <td>Награды Nickelodeon Colombia Kids 'Choice Awards</td>
  <td>0</td>
  <td>1</td>
</tr>

<tr>
  <td><img src="https://i.ibb.co/wN2X13B/1578419297-bts.webp" height="80" width="120"></td>
  <td>Награды Nickelodeon Kids 'Choice Awards</td>
  <td>2</td>
  <td>3</td>
</tr>
<tr>
  <td><img src="https://i.ibb.co/pPZPZ1r/218bcdaa2a664fe893e1069399faae97.jpg" height="80" width="120"></td>
  <td>Награда "Выбор детей" Nickelodeon в Мексике</td>
  <td>6</td>
  <td>7</td>
</tr>
<tr>
  <td><img src="https://i.ibb.co/7tCn1Dn/02425067.jpg" height="80" width="120"></td>
  <td>Награды NME</td>
  <td>1</td>
  <td>4</td>
</tr>
<tr>
  <td><img src="https://i.ibb.co/DLzbwm1/4875e9-f8c797a26258469e8cf6c77f58a1eeef-mv2.jpg" height="80" width="120"></td>
  <td>Награды NRJ</td>
  <td>1</td>
  <td>1</td>
</tr>
<tr>
  <td><img src="https://i.ibb.co/VHHwmPb/DAYh3j-AXc-AEUq8-Q.jpg" height="80" width="120"></td>
  <td>Radio Disney Music Awards</td>
  <td>5</td>
  <td>5</td>
</tr><tr>
  <td><img src="https://i.ibb.co/cNv12CK/bts-1.jpg" height="80" width="120"></td>
  <td>Rockbjörnen</td>
  <td>2</td>
  <td>2</td>
</tr>
<tr>
  <td><img src="https://i.ibb.co/xgpvQjt/Bangtan-Boys-at-23rd-Seoul-Music-Awards.jpg" height="80" width="120"></td>
  <td>Музыкальные награды Сеула</td>
  <td>14</td>
  <td>33</td>
</tr>
<tr>
  <td><img src="https://i.ibb.co/FHdqSYx/bts-bbma-2019-1.jpg" height="80" width="120"></td>
  <td>Короткие награды</td>
  <td>1</td>
  <td>1</td>
</tr>
<tr>
  <td><img src="https://i.ibb.co/X7Y68mg/U18-VGYX86v1-Fw-VI5-P4o7-Oe-Vr-S2-Rcnv7-Pp-Kcd-XGg-L.jpg" height="80" width="120"></td>
  <td>Soompi Awards</td>
  <td>18</td>
  <td>34</td>
</tr>
<tr>
  <td><img src="https://i.ibb.co/kKGfHFZ/BTS02.jpg" height="80" width="120"></td>
  <td>Премия Soribada Best K-Music Awards</td>
  <td>10</td>
  <td>13</td>
</tr>
<tr>
  <td><img src="https://i.ibb.co/6wCtNJn/BTS-1.jpg" height="80" width="120"></td>
  <td>Spotify Awards</td>
  <td>2</td>
  <td>2</td>
</tr><tr>
  <td><img src="https://i.ibb.co/JKfvfjL/8af225c451a3374363cb8a73f4ff3289.jpg" height="80" width="120"></td>
  <td>Награды Teen Choice Awards</td>
  <td>0</td>
  <td>1</td>
</tr>

<tr>
  <td><img src="https://i.ibb.co/301Rjck/4875e9-e5c932d217cc429ab0cbb634219287d7-mv2.jpg" height="80" width="120"></td>
  <td>Telehit Awards</td>
  <td>1</td>
  <td>2</td>
</tr>
<tr>
  <td><img src="https://i.ibb.co/8sw18JG/108281029-gettyimages-1145343658.jpg" height="80" width="120"></td>
  <td>UK Music Video Awards</td>
  <td>0</td>
  <td>1</td>
</tr>
<tr>
  <td><img src="https://i.ibb.co/6nzsmQy/w-PMy-Kvg-Tt-Bw.jpg" height="80" width="120"></td>
  <td>Разнообразие's Hitmakers</td>
  <td>1</td>
  <td>1</td>
</tr>
<tr>
  <td><img src="https://i.ibb.co/0GBLxNj/vb.jpg" height="80" width="120"></td>
  <td>Награды V Chart</td>
  <td>2</td>
  <td>2</td>
</tr><tr>
  <td><img src="https://i.ibb.co/6ZZwnnw/i-https-s-eximg-jp-exnews-feed-M-on-music-M-on-music-0000338942-377d-1.jpg" height="80" width="120"></td>
  <td>V Live Awards</td>
  <td>0</td>
  <td>1</td>
</tr>
<tr>
  <td><img src="https://i.ibb.co/pP8mjk4/21122020-bts-01.webp" height="80" width="120"></td>
  <td>Награды WSJ Innovator</td>
  <td>2</td>
  <td>2</td>
</tr>
</table>
        </font>
    </div>
</main>