<!doctype html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">

    <title>Bangtan Sonyeondan</title>
  <style>
   h6 {
    border: 1px solid black;
    padding: 10px;
   }
   body {
    background: url(https://i.ibb.co/K0bM0nq/lmhb-WPI5w-Y.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
   }
   .brd {
    border: 5px double gray;
    padding: 10px;
   }
   .brds {
    border: 2px solid gray;
    padding: 2px;
   }
   a {
    text-decoration: none;
   }

button {
 background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
 background-size: 800% 400%;
 padding: 1em 2em;
 display: inline-block;
 border: none;
 border-radius: 10px;
 font-size: 17px;
 font-weight: 700;
 color: white;
 transition: all .5s ease-in-out;
 animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
}

button:hover {
 animation: gradient 3s infinite;
 transform: scale(1.05);
}

button:active {
 animation: gradient 3s infinite;
 transform: scale(0.8);
}

@keyframes gradient {
 0% {
  background-position: 0% 50%;
 }

 50% {
  background-position: 100% 50%;
 }

 100% {
  background-position: 0% 50%;
 }
}


  </style>
</head>
<body>
<div class="container">
  <header class="blog-header py-3">
      <div class="row flex-nowrap align-items-center">
        <center>
      <div class="col-4 text-center">
        <center><h1 class="blog-header-logo text-dark"><font face="Segoe script">Annionghaseyo</font></h1></center>
      </div>
        </center>
    </div>
  </header>

  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <font size="5" face="footlight mt light"><a class="p-2 link-secondary" href="/SK" style="color: black">Южная Корея</a></font>
      <font size="5" face="footlight mt light"><a class="p-2 link-secondary" href="/member" style="color: black">Профили участников</a></font>
      <font size="5" face="footlight mt light"><a class="p-2 link-secondary" href="/universe" style="color: black">BTS Universe</a></font>
      <font size="5" face="footlight mt light"><a class="p-2 link-secondary" href="/webtoon" style="color: black">Webtoon</a></font>
      <font size="5" face="footlight mt light"><a class="p-2 link-secondary" href="/awards" style="color: black">Награды</a></font>
      <font size="5" face="footlight mt light"><a class="p-2 link-secondary" href="/show" style="color: black">Шоу</a></font>
      <font size="5" face="footlight mt light"><a class="p-2 link-secondary" href="/logchat" style="color: black">Чат</a></font>
    </nav>
  </div>
</div>


<main class="container">
  <div class="p-4 p-md-5 mb-4 text-black brd">
    <a><img src="https://i.ibb.co/0VK0ssQ/Evm3-T8b-Zcv-M.jpg"  border="0" width="500" height="230" align="right" vspace="0" hspace="20"></a>
    <div class="col-md-6 px-0">
      <font face="footlight mt light"><h1 class="display-4 fst-italic">Let me show you another worlds</h1></font>
      <font size="8" face="footlight mt light"><p class="lead my-3">Позвольте южнокорейскому бойз-бэнду рассказать вам свою историю и проводить в, созданную ими, альтернативную вселенную.</p></font>
    </div>
  </div>


  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 flex-md-row mb-4 shadow-sm h-md-250 position-relative brds">
        <div class="col p-4 d-flex flex-column position-static">
          <font color="#191970" size="4" face="footlight mt light"><strong class="d-inline-block mb-2 text-primary">Location</strong></font>
          <font face="footlight mt light"><h3 class="mb-0">Сеул</h3></font>
          <font face="footlight mt light"><div class="mb-1 text-muted">Столица Южной Кореи</div></font>
          <font face="footlight mt light"><p class="card-text mb-auto">Этот город является не только одним из культурно-исторических центров, но и негласно признан столицей K-pop индустрии. Каждый год более 2,5 млн человек приезжают в этот город. </p></font>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="https://i.pinimg.com/originals/1b/df/94/1bdf94c3a331803a773ba282bfa267c8.jpg" width="220" height="230" align="right" vspace="15" hspace="40">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 flex-md-row mb-4 shadow-sm h-md-250 position-relative brds">
        <div class="col p-4 d-flex flex-column position-static">
          <font color="#191970" size="4" face="footlight mt light"><strong class="d-inline-block mb-2 text-primary">Corparation</strong></font>
          <font face="footlight mt light"><h3 class="mb-0">HYBE</h3></font>
          <font face="footlight mt light"><div class="mb-1 text-muted">We belive in music</div></font>
          <font face="footlight mt light"><p class="mb-auto">Крупнейшая в Корее звукозаписывающая компания, основанная Бан ШиХеком в 2005 году. Исполнители лейбла постоянно фигурируют в мировых чартрах.</p></font>
        </div>
        <div class="col-auto d-none d-lg-block">
          <a href="https://ibb.co/h8Z31zF"><img src="https://i.ibb.co/KyLTzvx/Bc-Qe-O0vbve8.jpg" alt="Bc-Qe-O0vbve8" border="0" width="220" height="230" align="right" vspace="15" hspace="40"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="row g-5">
    <div class="col-md-8">
      <font weight="bold" face="footlight mt light"><b><h2 class="pb-4 mb-4 border-bottom">
        История группы
      </h2></b></font>

      <article class="blog-post">
        <font style="italic" color="#4169E1" face="footlight mt light"><h3 class="blog-post-title fst-italic">"Рождение" BTS</h3></font>
         <div class="col-auto d-none d-lg-block">
          <img src="https://sun9-49.userapi.com/impf/c845322/v845322205/ac1d7/ItowedW7zG4.jpg?size=295x443&quality=96&sign=f1aad38f4957105d3bec343c9a980bdf&type=album" width="230" height="300" align="right" vspace="15" hspace="20">
         </div><font style="italic" face="footlight mt light">
        <b><a>2010 год - образование BTS</a></b>
        <a><p>Изначально это был рэп-дуэт Ким Намджуна (RM) и Ханчуля (Iron), но вскоре после этого BigHit (теперь - HYBE) объявил, что BTS станет группой. Это и стало началом прослушивания «Hit It».</p></a>
        <a><p>14 августа 2010: Ким Намджун присоединился к общежитию Bangtan</p></a>
        <a><p>7 ноября 2010: Мин Юнги присоединился к общежитию Bangtan</p></a>
        <a><p>24 декабря 2010: Чон Хосок присоединился к общежитию Bangtan</p></a>
        <a><p>Ханчёль же покинул BigHit из-за того, что узнал, что BTS будет айдол-группой</p></a>
        <a><p>Трое парней думали, что просто любят музыку и живут ей, и даже не догадывались, что к ним присоеденят еще четверхы участников</p></a>
        <a><p>Только Юнги и Намджун могли писать тексты песен, так как у Хосока было недостаточно опыта. Их называли "предателями рэпа" и "крашеными айдолами" - они прошли через это вдвоем.</p></a></font>
        <hr>
        <font style="italic" face="footlight mt light"><article><b><p>2011 год - Намджун становится лидером группы.</p></b>
        <p>Тут появляются Чон Чонгук и Ким Тэхён. Чонгука зачислили после прослушивания на SuperStarK2, а Тэхён попал в группу через Hit It, хотя изначально пришел просто поддержать друга. </p>
          <b><p>Примечание:</b> Про Тэхёна ничего не было сказано до самого дебюта, а про Чонгука – пока не выбрали финальных участников группы.</p></article></font>
        <hr>
        <div class="col-auto d-none d-lg-block">
          <img src="https://i.ibb.co/M62xX9B/5b5808491dd6fc31eb1212b653b0c694.jpg" width="310" height="220" align="left" vspace="15" hspace="20">
         </div>
        <font style="italic" face="footlight mt light"><article><b><p>2012 год</b> - Ким Сокджинa взяли в агентство через его школу несмотря на то, что его первоначальным желанием была актерская карьера. </p>
        <p>Пак Чимина тоже присоединяется к команде.</p>
        <p>Чимин и Хосок посещают танцевальные академии, чтобы улучшить свои навыки. Проходят финальные прослушивания.</p>
        <p>15 мая 2012: Чимин присоединился к общежитию Bangtan</p>
        <p>29 июля 2012: Джин присоединился к общежитию Bangtan</p>
          <p>17 декабря 2012: BTS запустили официальный аккаунт в Twitter</p></article></font>
        <hr>
        <div class="col-auto d-none d-lg-block">
          <img src="https://i.ibb.co/pjPdsmk/tumblr-nful7yhrxs1toe2j9o1-1280.jpg" width="300" height="220" align="right" vspace="15" hspace="20">
         </div>
        <font style="italic" face="footlight mt light"><article><p>9 июня 2013 года - был представлен финальный состав группы.</p>
          <p>Семь мемберов – RM (Ким Намджун), Suga (Мин Юнги), J-Hope (Чон Хосок), Чонгук (Чон Чонгук), V (Ким Тэхён), Джин (Ким Сокджин) и Чимин (Пак Чимин).</p>
          <p>Таким образом из всех участников RM провел самое долгое время как трейни – 4 года.</p>
          <b><p>13 июня 2013 года - дебют группы с песней "No more Dream"</p></b></article></font>
        <hr>
        <font style="italic" color="#4169E1" face="footlight mt light"><h3 class="blog-post-title fst-italic">От новичков до живых легенд</h3></font>
        <font face="footlight mt light"><h6 class="blog-post-title">Сегодня BTS — самая известная группа, работающая в жанре k-pop музыки. Её биография только начинает развиваться. Однако даже за 7 лет бойбэнду удалось перевернуть взгляд на культуру Южной Кореи, буквально захватить мир и оставить след в истории музыки.</h6></font>
        <img src="https://i.ibb.co/s2jX861/maxresdefault.jpg" width="330" height="210" align="left" vspace="15" hspace="20">
        <font style="italic" face="footlight mt light"><article><b><p>Июнь 2013 года.</b> Группа готова заявить о себе. На их YouTube-канале выходит первый клип на песню No More Dream.</p>
          <p>Тема сингла — протест и непокорность. Однако они сталкиваются с огромной волной хейта и критики. Их текст называют слишком дерзким, а западный хип-хоп-стиль — устаревшим. Парни получают множество гневных писем, оскорблений и жестоких комментариев.</p>
          <b><p>Сентябрь 2013 года.</b> Встречаем альбом O! RUL8,2? (Oh! Are You Late Too?). Он стал вторым в школьной трилогии.</p>
          <p>Главная песня альбома N.O рассказывает о противостоянии родительским ожиданиям и их зацикленности на учебе. Продолжая тему, начатую в прошлом альбоме, песня повествует о серьезных нагрузках учащихся. Основная мысль — не отказываться от мечты. Это не просто слова, Bangtan действительно делают то, о чем говорят в своих текстах.</p></article></font>
        <hr>
        <img src="https://i.ibb.co/jbHcSgF/0f02a4ff23699b5670d1bdb988f927b7.jpg" width="320" height="220" align="right" vspace="10" hspace="10">
         <font style="italic" face="footlight mt light"><article><b><p>2014 год начался как нельзя лучше.</b></p>
           <p>16 января парни получают награду «Новичок года».</p>
           <p>В конце месяца они вновь получили премию для новичков и были отмечены как «Лучшие новые исполнители».</p>
           <p>Это время было самым подходящим для завершения эры и выхода последней части школьной трилогии — альбома School Luv Affair.</p></article>
           <img src="https://i.ibb.co/9qtGHrV/c7fb4ec20df4f42963a2b1c52255d00d.jpg" width="330" height="210" align="left" vspace="15" hspace="20">
           <article><p><b>У BTS новая концепция.</b> Теперь они — школьные хулиганы, своенравные и дерзкие, но нежные внутри.</p>
           <p>Темой альбома стала первая подростковая любовь. Заглавная песня Boy in Luv начинается с хип-хопа, который уже стал привычным. Но вдруг фанаты слышат нечто новое — звучание электрогитар. BTS показали, что готовы экспериментировать со звуком.</p>
           <p>Новый альбом не оставил никаких сомнений в том, что группу ждет большое будущее. Он занял <b>третье место в чарте Billboard.</b> Теперь ребята стали чаще появляться на телешоу. Их называли «Короли новичков», и никто не смел спорить с их достижениями. Получив известность на родине, группа стала расширять границы.</p>
           <p>Парни посетили Китай, где вновь получили награду начинающих артистов. В начале лета их ждали в Японии и России.</p>
           <p>Мемберы занимались продюсированием нового материала во всех точках мира, где они побывали. Песни, записанные в LA на съемках в American Hustle Life, были доработаны в студии, расположенной в гараже у Бан Ши Хёка.</p>
           <p>Результатом этого стал первый полноформатный альбом, который получил название Dark & Wild. Заглавная песня Danger повествует о боли, которую вызывает безответная любовь.</p></article></font>
        <hr>
        <img src="https://i.ibb.co/XZNn0Th/8722fe4056e5d986d0ca2c1d9964be4d.jpg" width="260" height="310" align="right" vspace="10" hspace="10">
          <font style="italic" face="footlight mt light"><article><b><p>Апрель 2015 года</b> — приближение камбэка, который был очень важен для группы.</p>
            <p>The Most Beautiful Moment in Life, Part 1 — название альбома стало долгой темой для размышления. RM выбрал китайский афоризм из четырех иероглифов, в котором заключена основная идея альбома. Переводится он как «Возраст цветения», под этим подразумевается скоротечность юности и любви. Мальчики вновь говорят прямо о проблемах и тревогах, постигающих этот возраст.</p>
            <b><p>В конце ноября</b> вышел клип на песню Run из нового альбома The Most Beautiful Moment in Life, Part 2. </p>
            <p>Главная мысль понятна сразу: <font style="italic" color="#4169E1">живи так, как ты хочешь и всегда поднимайся, если упал.</font></p>
            <p>Также в этом году проходит первое турне по Японии Wake Up: Open Your Eyes</p></article></font>
        <hr>
        <img src="https://i.ibb.co/zXSLkb6/BTS-Young-Forever-Kpop2016b-650.webp" width="300" height="200" align="left" vspace="20" hspace="10">
          <font style="italic" face="footlight mt light"><article><b><p>2016-й — продолжение эры.</b></p>
            <p>Выход альбома The Most Beautiful Moment in Life: Young Forever, где каждая из трех новых песен подкреплялась клипом.</p>
            <p>В одном из интервью лидер рассказал, что ключом для понимания концепта является роман немецкого писателя Германа Гессе «Демиан». Это история о мальчике, стоявшем на пороге взросления, которому предстоит сделать выбор между светом и тьмой, добром и злом и найти свой путь в жизни. Герой романа выступает против ценностей общества и репрессивной системы. Именно этим вдохновились BTS.</p>
            <p><b>В конце сентября</b> объявили дату камбэка, выхода нового альбома Wings.</p>
            <p>В трейлере к песне из этого альбома фигурировала незаконченная надпись «BOY MEETS». Трейлер дает фанатам последнее слово, поскольку называется Boy Meets Evil. Ролик начинается с цитаты Гессе о рукопожатии с дьяволом.</p></article>
            <font style="italic" color="4169E1" alagin="center"><article><p>"Мой грех состоял не в чем-то определенном, а в том, что я дал руку дьяволу. Теперь дьявол не отпускает мою руку, теперь враг не отступает от меня."</p></article></font>
            <img src="https://i.ibb.co/2PpSCWg/original.jpg" width="300" height="210" align="right" vspace="10" hspace="5">
            <article><p>Следуя новой концепции, ребята предстали в более элегантном и взрослом облике, отойдя от подростковых образов.</p>
            <p>За альбом Wings парни получили награду MelOn Music Awards в номинации "Лучший альбом".</p>
            <p><b>10 октября</b> вышел клип на песню Blood, Sweat & Tears</p>
            <p>Из сюжетной части клипа ясно, что тема — соблазн, грехопадение. BTS исследуют период взросления и выбор, который он влечет за собой.</p></article></font>
        <hr>
        <img src="https://i.ibb.co/ZhsVfkp/00-story-image-BTS.webp" width="310" height="250" align="left" vspace="10" hspace="10">
        <font style="italic" face="footlight mt light"><article><b><p>2017 год</b> — еще в мае на премии Billboard Music Awards в своей речи Намджун (лидер) произнес следующее: <font style="italic" color="#191970">«Любите себя, цените себя».</font></p>
          <p>Эти слова вспомнились фанатам спустя три месяца, после выхода камбэка Love Yourself: Her. Именно к этому альбому постеры-тизеры были наполнены различными отсылками и символами.</p>
          <p>Заглавная песня альбома DNA повествует об идеальной любви, подаренной самой судьбой. </p></article>
          <a><p>В треке Mic Drop ребята якобы оправдываются за свой успех:</a> <font style="italic" color="4169E1"><a>«Извините, что мы не провалились, вопреки вашим ожиданиям».</a></font></p>
          <img src="https://i.ibb.co/mXHr2n2/cr8nry45-LKQ.jpg" width="310" height="250" align="right" vspace="10" hspace="10">
          <article><p>Так что текст следующей песни Go Go резко осуждает общество, которое заставляет молодых людей отказываться от амбиций и надежд. В припеве часто повторяется слово YOLO, что означает "You Live Only Once" (рус. - живем только раз)</p>
          <p>Альбом так или иначе был обречен на успех и мировое признание. Буквально в первый же день после выхода альбом занял лидирующие места в семидесяти странах. </p>
          <p>До этого момента BTS больше времени посвящали важным для них проектам, одним из которых стала поддержка кампании, запущенной ЮНИСЕФ и направленной на борьбу с детским насилием и помощь детям, подвергшимся этому.</p>
          <p>Что касается мирового признания - в этом году в iTunes США попала песня «Not Today». После этого началось мировое признание и телевизионный дебют в США на церемонии American Music Awards.</p></article></font>
        <hr>
        <font style="italic" face="footlight mt light"><article><b><p>В 2018 году</b> фанатов порадовал вышедший на платформе фильм Burn The Stage. Группа не скрывает от камер свои сомнения, страхи, ссоры, переживания и, конечно же, радость и любовь.</p></article>
            <img src="https://i.ibb.co/1dcWJRP/BTS7-1-700x467.jpg" width="295" height="210" align="left" vspace="10" hspace="10">
          <article><p><b>18 мая</b> выходит новый альбом Love Yourself: Tear</p>
            <p>Обложка Tear повторяла предыдущий альбом, но теперь наоборот — надпись белого цвета на черном фоне.</p>
            <p>В последующем интервью был объяснен смысл названия:</article> <font style="italic" color="4169E1"><a>«Любовь многогранна. Некоторые ее стороны заставляют страдать. Здесь есть место и слезам, и грусти. Мы хотим сосредоточиться на тех сторонах любви, которых каждый хотел бы избежать. Именно поэтому он называется Tear».</a></font></p>
            <img src="https://i.ibb.co/QYmspS3/bts-love-yourself-answer-concept-photo-e-version-1-min.jpg" width="310" height="240" align="right" vspace="10" hspace="10">
          <article><p><b>24 августа</b> — выход последнего альбома, завершающего эру «Люби себя».</p>
            <p>Группу называют мировым феноменом, о них говорят везде. Love Yourself: Answer — это ответ на все, что группа пыталась донести этой серией альбомов.Философский поиск истинного «я» через тернистый путь любви. Основной девиз альбома — латинская фраза Carpe diem, что значит «Лови момент».</p>
            <p>Главная мысль всей трилогии посвящена любви к себе, поиску и принятию себя настоящего, такого, какой ты есть. «Мы смогли принять и полюбить себя благодаря вам, Арми. Поэтому прошу, воспользуйтесь BTS, воспользуйтесь мной, чтобы полюбить себя», — произнес Намджун на одном из концертов.</p></article></font>
        <hr>
        <font style="italic" face="footlight mt light"><article><b><p>2019 год</b> - начало новой эры.</p>
          <p>Перед основным релизом выходит сольный клип Намджуна, что также является открывающей песней в альбоме.</p>
          <p>В видео Intro: Persona лидер сталкивается с множеством версий самого себя, а надписи, выцарапанные на доске — «Тень», «Эго» и «Персона», — являются прямой отсылкой к теориям Юнга.</p>
          <p><font style="italic" color="4169E1" alagin="center">«Персона — это то, чем человек не является на самом деле, но то, что он и окружающие думают, что он есть»</font></p></article>
          <img src="https://i.ibb.co/Sv09JBH/g-PCmt-V6h-LCQ.jpg" width="250" height="405" align="right" vspace="10" hspace="10">
          <article><p>Трек-лист альбома содержит в себе несколько загадок.</p>
          <p>Композиция Dionysus вдохновлена греческой мифологией. Бог Дионис часто ассоциируется с вином — и некоторые участники позируют с виноградом. Дионис был известен освобождением людей, в греческом театре его звали «Бог в маске». То есть человек не является собой, когда выпивает, следовательно, эта маска в данном случае символизирует другую сторону личности, менее трезвую. Из-за своей любви к алкоголю и искусству, а вдобавок из-за нетрадиционного воспитания Дионис стал изгнанником среди богов.</p>
          <p>По какой причине BTS выбрали именно эту тему? Скорее всего эта песня отправляет нас к временам дебюта, когда парней считали аутсайдерами в музыкальной индустрии.</p>
          <p><b>10 февраля</b> BTS посетили 61-ую церемонию «Grammy», и стали первой корейской группой в истории, появившейся на данном мероприятие.</p>
          <p><b>20 февраля</b> группа анонсировала вторую часть своего нынешнего мирового турне BTS World Tour — Love Yourself: Speak Yourself, который стартовал 4 мая на стадионе Роуз Боул и будет проведён на других крупных стадионах по всему миру</p></article></font>
        <hr>
         <font style="italic" face="footlight mt light"><article><b><p>17 января 2020</b> года BTS выпустили цифровой сингл «Black Swan» одновременно с художественным фильмом, снятым при участии MN Dance Company.</p>
           <p><b>26 января</b> BTS выступили на 62-ой церемонии «Грэмми» совместно с Билли Рэй Сайрусом и Lil Nas X, став первыми корейскими артистами в истории, выступившими на данном мероприятии</p>
           <p><b>21 февраля</b> был выпущен Map of the Soul: 7, и получил широкое признание среди критиков, став одним из самых высокооценённых релизов года.</p></article>
           <img src="https://i.ibb.co/G5SN6kN/950-6.png" width="320" height="255" align="left" vspace="10" hspace="10">
           <article><p>Согласно данным Gaon, продажи альбома перешагнули отметку в 4,1 миллиона копий на девятый день с момента релиза, и стал самым продаваемым альбомом в истории Кореи</p>
           <p>Альбом дебютировал на вершине Billboard 200, и BTS стали первой группой со времён The Beatles, имеющей четыре альбома № 1 (с 1968 года).</p>
           <p>В апреле должен был стартовать второй стадионный тур Map of the Soul Tour, однако все концерты были сначала отложены, а затем полностью отменены из-за пандемии новой коронавирусной инфекции.</p></article>
           <img src="https://i.ibb.co/QCjbm96/Xc-SXORkn6-TI.jpg" width="230" height="310" align="right" vspace="10" hspace="10">
           <article><p>Big Hit Entertainment запустил платформу Weverse, где участникам предоставлялся шанс размещать как групповые, так и индивидуальные материалы, а также общаться с поклонниками</p>
           <p><b>В апреле</b> суммарные продажи всех альбомов BTS преодолели порог в 20 миллионов копий, и группа стала самым продаваемым артистом в истории Кореи</p>
           <p><b>21 августа</b> был выпущен первый англоязычный сингл «Dynamite», видеоклип за первые сутки собрал свыше 100 миллионов просмотров, а песня дебютировала на вершине Billboard Hot 100, став первым синглом BTS, достигшим подобного результата, а также вторым среди корейских артистов в истории</p>
           <p><b>20 ноября</b> был выпущен пятый студийный альбом Be с синглом «Life Goen On». Песне удалось дебютировать на вершине Billboard Hot 100, и композиция стала первой в истории, написанной практически полностью на корейском, с таким результатом</p></article></font>
           <hr>
         <font style="italic" face="footlight mt light"><article><b><p>4 марта 2021 года</b> Международная федерация производителей фонограмм назвала BTS своим самым продаваемым артистом 2020 года — они стали первыми азиатскими и не англоговорящими артистами, возглавившими данный рейтинг.</p></article>
           <article><p><b>14 марта</b> коллектив выступил на 63-й церемонии «Грэмми»</p></article>
           <img src="https://i.ibb.co/cYnJw92/ed14c0f5cac4996290598f3468e6f1dc.gif" width="350" height="280" align="left" vspace="10" hspace="10">
           <article><p><b>1 апреля</b> они выпустили лид-сингл «Film Out» в поддержку их предстоящего японского сборника хитов</p>
           <p><b>21 мая</b> был выпущен «Butter», и сразу же занял лидирующие позиции в музыкальных чартах Кореи. Видеоклип в момент премьеры собрал почти 4 миллиона зрителей, что стало рекордом, а за первые сутки набрал свыше 108,2 миллиона просмотров, что также стало абсолютным рекордом для музыкальных клипов на YouTube за первые 24 часа (предыдущий рекорд принадлежал «Dynamite»)</p>
           <p><b>9 июля</b> состоялся релиз третьего англоязычного сингла «Permission to Dance», в создании которого принял участие Эд Ширан</p>
           <p><b>19 июля</b> песня дебютировала с вершины «горячей сотни», прервав лидерство «Butter», которая держалась на 1 месте в течение 7 недель. 26 июля, на второй неделе пребывания в чарте, сингл опустился на 7 место, вновь уступив первенство «Butter», и BTS стали первыми артистами в истории, которым удалось дважды сместить самих себя с вершины главного песенного чарта США.</p></article></font>
        <a><p>Так же в этом году парни появились на обложках журналов Vogue, Billboard, Times, GQ и стали амбассадорами Lois Vuitton </p></a>
        <img src="https://i.ibb.co/B6gmW5j/1639108501-1.jpg" width="183" height="245" vspace="7" hspace="10">
        <img src="https://i.ibb.co/9w1p1fJ/unnamed.jpg" width="183" height="245" vspace="7" hspace="10">
        <img src="https://i.ibb.co/Y453S9t/19268979.jpg" width="183" height="245" vspace="7" hspace="10">
        <img src="https://i.ibb.co/RNC1w26/lv00876-784x1280.jpg" width="183" height="245" vspace="7" hspace="10">
        <hr>


        <font style="italic" color="#4169E1" face="footlight mt light"><h3 class="blog-post-title fst-italic">Через тернии к звездам</h3></font>
        <font face="footlight mt light"><h6 class="blog-post-title">BTS сейчас на вершине мировых чартров, а каждый участник является мультимиллионером. Группа имеет более 45 миллионов ARMY (название фанбазы) по всему миру. Но на пути ко всем достижениям участники столкнулись с множеством суровых испытаний. Они проделали невероятную работу над музыкой и над собой  </h6></font>
        <font style="italic" face="footlight mt light"><ul>
          <li>Намджун с Юнги до дебюта группы были андеграунднными рэперами. В к-поп мире их стали называть "фальшивками". Им пришлось переписывать текст песни "No More Dream" 22 раза.</li>
          <li>Вопрос: какой из последних комментариев причинил тебе боль?
            <p>Намджун: покинь группу.</p></li>
          <li>Антифанаты говорят, что у Джина только один талант - внешность. И для группы было бы лучше я если бы он не пел. Они также насмехаются над его танцевальными навыками.</li>
          <li>Родители Юнги не поддерживали сына и называли его "позором семьи". Он боролся с депрессией и суицидальными мыслями на протяжение многих лет.</li>
          <li>Люди называли Хосока самым страшным участником BTS, говоря что он похож на лошадь.
            <p>Однажды во время трансляции Ему писали : "Иди от сюда.", "Скройся", "Отдай камеру/иди в комнату Тэхену"</p>
            <p>И он с искренней улыбкой пошел к парню и отдал ему свой телефон.</p></li>
          <img src="https://i.ibb.co/c2F50BQ/Ub-IMESBr-K9-I.jpg" align="right" width="330" height="535" vspace="10" hspace="10">
          <li>Дебют Чимина оставался под вопросом, так как он стажировался всего год. Он спал по 3 часа в день из-за тренировок по танцам.</li>
          <li>Тэхен жил в практически в нищете. Иногда ему было нечего есть. Мама за последние деньги купила ему фирменную куртку, чтобы парни из Сеула над ним не смеялись.</li>
          <li>Чонгук прожил далеко от родителей, так как присоединился к группе, когда ему было всего 14 лет. Он всю жизнь прожил в тренировочном зале и сильно скучал по родителям. Его воспитали старшие участники, за что он сильно благодарен им.</li>
          <li>Вопрос: Как тебе удалось так быстро похудеть?
            <p>Чимин: Я ничего не ел 10 дней.</p>
            <p>Чимина возненавидели из-за внешности, поэтому парень голодал и до изнеможения тренировался в зале.</p></li>
          <li>Тэхен: Меня на несколько дней отстранили от группы из-за того, что я игрался волосами фанатки, но никто не знал, что я тогда пережил.
            <p>Тэхен пережил смерть своей бабушки, которая была ему как родитель, спустя несколько дней после ее смерти BTS получили награду на Music Bank. На всех этих мероприятиях он должен был ярко улыбаться</p></li>
          <li>Во времена дебюта Юнги подрабатывал курьером, чтобы ему хватало на жизнь. Однажды во время работы его сбила машина, он повредил плечо, но никому не сказал, так как боялся, что его выгонят из группы. Поэтому он продолжал упорно работать несмотря на боль. Операцию он сделал только в 2020 году.</li>
          <li>Анонимный пользователь из Curious Cat написал, что намеревается расстрелять Чимина в Fort Worth 16 сентября, когда он будет петь Serendipity. Это была не единичная угроза, которую он получал. Джин даже какое-то время одевался как он, чтобы защитить его.</li>
        </ul></font>
      </article>
    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 brd">
          <h4 class="fst-italic"><font style="italic" face="footlight mt light">Если совсем кратко, то...</font></h4>
          <p class="mb-0"><font style="italic" face="footlight mt light">БТС группа под лейблом HYBE из Южной Кореи. В нее входят 7 парней, которые работают над альбомами и танцами. Каждую эру они посвещают определенной проблеме</font></p>
        </div>

        <div class="p-4">
          <h4 class="fst-italic"><font style="italic" face="footlight mt light">Эры BTS</font></h4>
          <ol class="list-unstyled mb-0">
            <li><font size="4" face="footlight mt light"><a href="/school">School trilogy (2013-2014)</a></font></li>
            <li><font size="4" face="footlight mt light"><a href="/wild">Dark&Wild (2014)</a></font></li>
            <li><font size="4" face="footlight mt light"><a href="/youth">Youth Trilogy (2015-2016)</a></font></li>
            <li><font size="4" face="footlight mt light"><a href="/wings">Wings (2016-2017)</a></font></li>
            <li><font size="4" face="footlight mt light"><a href="/love">Love Yourself (2017-2018)</a></font></li>
            <li><font size="4" face="footlight mt light"><a href="/btsw">BTS World (2019)</a></font></li>
            <li><font size="4" face="footlight mt light"><a href="/mots">Map of the Soul (2019-2020)</a></font></li>
            <li><font size="4" face="footlight mt light"><a href="/be">BE (2020)</a></font></li>
            <li><font size="4" face="footlight mt light"><a href="/dynamite">Dynamite Trilogy (2020-2021)</a></font></li>
          </ol>
        </div>

        <div class="p-4">
          <h4 class="fst-italic"><font style="italic" face="footlight mt light">Официальные страницы</font></h4>
          <ol class="list-unstyled">
            <li><font size="4" face="footlight mt light"><a href="https://www.weverse.io/">Weverse</a></font></li>
            <li><font size="4" face="footlight mt light"><a href="#">Twitter</a></font></li>
            <li><font size="4" face="footlight mt light"><a href="#">Instagram</a></font></li>
          </ol>
        </div>
      </div>
    </div>
  </div>


</main>

<footer class="blog-footer">
  <p><center>This Blog built for <a>MIREA</a> by <a href="https://www.instagram.com/al_ein_ad/">@Daniela</a>.</center>
  <p>
  <center><button><a href="#" style="color: white" class="button">Back to top</a></button></center>
</footer>





</body>

</html>