<!doctype html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
     <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
<title>Members</title>
    <style>

     .brd {
    border: 5px double gray;
    padding: 10px;
   }
      body {
    background: url(https://i.ibb.co/K0bM0nq/lmhb-WPI5w-Y.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
   }
    .wrap {
    width: 50%;
   }
   .wrap div {
    margin: 5px;
    padding: 20px;
    border: 5px double gray;
   }


a {
    text-decoration: none;
   }
    </style>
</head>

<body>
<div class="container">
  <header class="blog-header py-3">
       <div class="row flex-nowrap align-items-center">
        <center>
      <div class="col-4 text-center">
        <center><h1 class="blog-header-logo text-dark"><font face="Segoe script">Hoewon</font></h1></center>
      </div>
        </center>
    </div>
  </header>

<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
        <p><a href="/"><img src="https://i.ibb.co/vmJtWjS/HYqr-GGLZub-U-removebg-preview-1.png" width="40"
   height="30" border="0"></a></p>
      <font size="5" face="footlight mt light"><a class="p-2 link-secondary" href="/SK" style="color: black">Южная Корея</a></font>
        <font size="5" face="footlight mt light"><a class="p-2 link-secondary" href="/universe" style="color: black">BTS Universe</a></font>
      <font size="5" face="footlight mt light"><a class="p-2 link-secondary" href="/webtoon" style="color: black">Webtoon</a></font>
      <font size="5" face="footlight mt light"><a class="p-2 link-secondary" href="/awards" style="color: black">Награды</a></font>
      <font size="5" face="footlight mt light"><a class="p-2 link-secondary" href="/show" style="color: black">Шоу</a></font>
        <font size="5" face="footlight mt light"><a class="p-2 link-secondary" href="/logchat" style="color: black">Чат</a></font>
    </nav>
  </div>
</div>
<main class="container">
    <div class="row">
  <div class="wrap">
    <div>
        <a><img src="https://i.ibb.co/Wt1nK7K/original.gif"  border="0" width="210" height="300" align="right" vspace="0" hspace="0"></a>
      <font face="footlight mt light"><h2 class="display-4 fst-italic">Ким Намджун</h2></font>
        <font size="8" face="footlight mt light"><p class="lead my-3"><b>Позиция в группе:</b> лидер, главный рэпер</p></font>
        <font size="8" face="footlight mt light"><p class="lead my-3"><b>Псевдоним:</b> RM (Rap Monster)</p></font>
        <font size="8" face="footlight mt light"><p class="lead my-3"><b>Дата рождения:</b> 12 сентября 1994</p></font>
        <font size="8" face="footlight mt light"><p class="lead my-3"><b>Место рождения:</b> Ильсан, Коян</p></font>
        <font size="8" face="footlight mt light"><p class="lead my-3"><b>Знак зодиака:</b> Дева</p></font>
        <font size="8" face="footlight mt light"><p class="lead my-3"><b>MBTI:</b> ENFP (борец)</p></font>
    </div>
  </div>
     <div class="wrap">
    <div>
        <a><img src="https://i.ibb.co/dKPBL4Y/hotjin-illmarryajin.gif"  border="0" height="280" align="right" vspace="0" hspace="0"></a>
      <font face="footlight mt light"><h2 class="display-4 fst-italic">Ким Сокджин</h2></font>
        <font size="8" face="footlight mt light"><p class="lead my-3"><b>Позиция в группе:</b> Вокалист, лицо группы</p></font>
        <font size="8" face="footlight mt light"><p class="lead my-3"><b>Псевдоним:</b> Jin</p></font>
        <font size="8" face="footlight mt light"><p class="lead my-3"><b>Дата рождения:</b> 4 декабря 1992</p></font>
        <font size="8" face="footlight mt light"><p class="lead my-3"><b>Место рождения:</b> Квачхон, Кёнгидо</p></font>
        <font size="8" face="footlight mt light"><p class="lead my-3"><b>Знак зодиака:</b> стрелец</p></font>
        <font size="8" face="footlight mt light"><p class="lead my-3"><b>MBTI:</b> INTP (ученый)</p></font>
    </div>
  </div>
    </div>

    <div class="row">
  <div class="wrap">
    <div>
        <a><img src="https://i.ibb.co/pRPsyDf/8c79a0a995742bb657ecbdc62f3d81ff.gif"  border="0" width="270" height="310" align="right" vspace="0" hspace="0"></a>
      <font face="footlight mt light"><h2 class="display-4 fst-italic">Мин Юнги</h2></font>
        <font size="8" face="footlight mt light"><p class="lead my-3"><b>Позиция в группе:</b> Рэпер,<br>композитор, продюсер</p></font>
        <font size="8" face="footlight mt light"><p class="lead my-3"><b>Псевдоним:</b> Suga</p></font>
        <font size="8" face="footlight mt light"><p class="lead my-3"><b>Дата рождения:</b> 9 марта 1993</p></font>
        <font size="8" face="footlight mt light"><p class="lead my-3"><b>Место рождения:</b> Пукку, Тэгу</p></font>
        <font size="8" face="footlight mt light"><p class="lead my-3"><b>Знак зодиака:</b> Рыбы</p></font>
        <font size="8" face="footlight mt light"><p class="lead my-3"><b>MBTI:</b> INTP (ученый)</p></font>
    </div>
  </div>
     <div class="wrap">
    <div>
        <a><img src="https://i.ibb.co/pRN8yBk/1156217dee90f9654a267a7f2342adb4-1.gif"  border="0" width="270" height="300" align="right" vspace="0" hspace="0"></a>
      <font face="footlight mt light"><h2 class="display-4 fst-italic">Чон Хосок</h2></font>
        <font size="8" face="footlight mt light"><p class="lead my-3"><b>Позиция в группе:</b> Рэпер,<br>главный танцор, саб-вокалист</p></font>
        <font size="8" face="footlight mt light"><p class="lead my-3"><b>Псевдоним:</b> J-Hope</p></font>
        <font size="8" face="footlight mt light"><p class="lead my-3"><b>Дата рождения:</b> 18 февраля 1994</p></font>
        <font size="8" face="footlight mt light"><p class="lead my-3"><b>Место рождения:</b> Пукку, Кванчжу, Кёнгидо</p></font>
        <font size="8" face="footlight mt light"><p class="lead my-3"><b>Знак зодиака:</b> Водолей</p></font>
        <font size="8" face="footlight mt light"><p class="lead my-3"><b>MBTI:</b> ESFJ (консул)</p></font>
    </div>
  </div>
    </div>

    <div class="row">
  <div class="wrap">
    <div>
        <a><img src="https://i.ibb.co/54wp9wR/1b9ed0f7ea7726242f8410a577fa6d9d.gif"  border="0" width="210" height="300" align="right" vspace="0" hspace="0"></a>
      <font face="footlight mt light"><h2 class="display-4 fst-italic">Пак Чимин</h2></font>
        <font size="8" face="footlight mt light"><p class="lead my-3"><b>Позиция в группе:</b> вокалист, танцор</p></font>
        <font size="8" face="footlight mt light"><p class="lead my-3"><b>Псевдоним:</b> Jimin</p></font>
        <font size="8" face="footlight mt light"><p class="lead my-3"><b>Дата рождения:</b> 13 октября 1995</p></font>
        <font size="8" face="footlight mt light"><p class="lead my-3"><b>Место рождения:</b> Кымджонгу, Пусан</p></font>
        <font size="8" face="footlight mt light"><p class="lead my-3"><b>Знак зодиака:</b> Весы</p></font>
        <font size="8" face="footlight mt light"><p class="lead my-3"><b>MBTI:</b> ENFJ (тренер)</p></font>
    </div>
  </div>
     <div class="wrap">
    <div>
        <a><img src="https://i.ibb.co/1GJ0sTG/4be5a1c1c8047710036b5e354e092376.gif"  border="0" width="270" height="300" align="right" vspace="0" hspace="0"></a>
      <font face="footlight mt light"><h2 class="display-4 fst-italic">Ким Тэхён</h2></font>
        <font size="8" face="footlight mt light"><p class="lead my-3"><b>Позиция в группе:</b> Вокалист</p></font>
        <font size="8" face="footlight mt light"><p class="lead my-3"><b>Псевдоним:</b> V</p></font>
        <font size="8" face="footlight mt light"><p class="lead my-3"><b>Дата рождения:</b> 30 декабря 1995</p></font>
        <font size="8" face="footlight mt light"><p class="lead my-3"><b>Место рождения:</b> Согу, Тэгу</p></font>
        <font size="8" face="footlight mt light"><p class="lead my-3"><b>Знак зодиака:</b> Козерог</p></font>
        <font size="8" face="footlight mt light"><p class="lead my-3"><b>MBTI:</b> INFP (посредник)</p></font>
    </div>
  </div>
    </div>
    <div class="row">
<div class="wrap">
    <div>
        <a><img src="https://i.ibb.co/qYGpCW6/7a4e16b3d3dbe2d800a6aa488eef5ade8fc0977cr1-268-360-hq.gif"  border="0" width="270" height="340" align="right" vspace="0" hspace="0"></a>
      <font face="footlight mt light"><h2 class="display-4 fst-italic">Чон Чонгук</h2></font>
      <font size="8" face="footlight mt light"><p class="lead my-3">Позиция в группе: вокалист,<br>танцор, рэпер, макне</p></font>
        <font size="8" face="footlight mt light"><p class="lead my-3">Псевдоним: Jungkook</p></font>
        <font size="8" face="footlight mt light"><p class="lead my-3">Дата рождения: 1 сентября 1997 года</p></font>
        <font size="8" face="footlight mt light"><p class="lead my-3">Место рождения: Пукку, Пусан</p></font>
        <font size="8" face="footlight mt light"><p class="lead my-3">Знак зодиака: Дева</p></font>
        <font size="8" face="footlight mt light"><p class="lead my-3">MBTI: ISFP (артист)</p></font>

    </div>
  </div>

    <div class="wrap">
    <div>
        <a><img src="https://i.ibb.co/vvzjcMB/original-3.gif"  border="0" weight="515" align="top" vspace="0" hspace="10"></a>
      <center>
      <font size="8" face="footlight mt light"><p class="lead my-3">Кто ты?<br>Мне всё равно, кто ты...<br>Я делаю всё по-своему.<br>Я стану сильнее.</p></font>
      </center>
    </div>
  </div>
    </div>
</main>



</body>