<!doctype html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
     <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link herf="style.css" rel="stylesheet">
<title>Have fun with BTS</title>
  <style>
  a {
    text-decoration: none;
   }

      body {
    background: url(https://i.ibb.co/K0bM0nq/lmhb-WPI5w-Y.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
   }
     .brd {
    border: 5px double gray;
    padding: 10px;
   }
      .scale {
    transition: 1s; /* Время эффекта */
   }
   .scale:hover {
    transform: scale(1.2);
    }

.column {
    float: left;
    width: 25%;
    padding: 10px;
}

img[tabindex="0"] {
  cursor: zoom-in;
}
img[tabindex="0"]:focus {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: auto;
  height: auto;
  max-width: 99%;
  max-height: 99%;
  margin: auto;
  box-shadow: 0 0 20px #000, 0 0 0 1000px rgba(210,210,210,.4);
}
img[tabindex="0"]:focus,
img[tabindex="0"]:focus ~ * {
  pointer-events: none;
  cursor: zoom-out;
}

  </style>
</head>


<body>

<div class="container">
  <header class="blog-header py-3">
       <div class="row flex-nowrap align-items-center">
        <center>
      <div class="col-4 text-center">
        <center><h1 class="blog-header-logo text-dark"><font face="Segoe script">Jamirl</font></h1></center>
      </div>
        </center>
    </div>
  </header>

<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
        <p><a href="/"><img src="https://i.ibb.co/vmJtWjS/HYqr-GGLZub-U-removebg-preview-1.png" width="40"
   height="30" border="0"></a></p>
        <font size="5" face="footlight mt light"><a class="p-2 link-secondary" href="/SK" style="color: black">Южная Корея</a></font>
      <font size="5" face="footlight mt light"><a class="p-2 link-secondary" href="/member" style="color: black">Профили участников</a></font>
        <font size="5" face="footlight mt light"><a class="p-2 link-secondary" href="/universe" style="color: black">BTS Universe</a></font>
      <font size="5" face="footlight mt light"><a class="p-2 link-secondary" href="/webtoon" style="color: black">Webtoon</a></font>
        <font size="5" face="footlight mt light"><a class="p-2 link-secondary" href="/awards" style="color: black">Награды</a></font>
        <font size="5" face="footlight mt light"><a class="p-2 link-secondary" href="/logchat" style="color: black">Чат</a></font>
    </nav>
  </div>
</div>


  <main class="container">
  <div class="p-4 p-md-5 mb-4 text-black brd">
    <a><img src="https://i.ibb.co/n8gv3cQ/tumblr-c2059df8ab0403e4976f4343c257dd80-721c107e-500.webp"  border="0" height="250" align="right" vspace="5" hspace="10"></a>
    <div class="col-md-6 px-0">
      <font face="footlight mt light"><h1 class="display-4 fst-italic">BTS покажут вам все свои стороны</h1></font>
      <font size="8" face="footlight mt light"><p class="lead my-3">BTS усердно работали не только над музыкой, но и над различными шоу, каждое из которых уникально. Вы сможете выбрать любое исходя из ваших вкусов и хорошо провести время.</p></font>
    </div>
  </div>


        <article class="blog-post">
            <hr>
             <font style="italic" face="footlight mt light" size="5"><p><b>BTS Rookie king (2013)</b></p></font>
                <font style="italic" face="footlight mt light" size="4"><p>Став одной из самых горячих новых идол-групп, BTS (Bangtan Boys) представят уникальное шоу на канале SBS-MTV, ‘Rookie King Channel Bangtan‘!<br>В этой передаче парни будут пародировать другие развлекательные корейские шоу, включая "VJ Special Forces" и "Master Chef Korea".</p></font>
            <div class="row">
  <div class="column">
    <img src="https://i.ibb.co/5B5b2sK/476-o.png" width="300" tabindex="0"/>
  </div>
  <div class="column">
    <img src="https://i.ibb.co/GCk6Xqy/482-o.jpg" width="300" tabindex="0"/>
  </div>
  <div class="column">
    <img src="https://i.ibb.co/nfVvFL8/480-o.jpg" width="300" tabindex="0"/>
  </div>
  <div class="column">
    <img src="https://i.ibb.co/GkDBBvt/477-o.jpg" width="300" tabindex="0"/>
  </div>
</div>
            <br>
                <hr>
             <font style="italic" face="footlight mt light" size="5"><p><b>American Hustle Life (2014)</b></p></font>
                <font style="italic" face="footlight mt light" size="4"><p>С момента дебюта BTS / BangTan позиционируют себя как группа с хип-хоп уклоном. Но что бы понять и принять этот стиль до конца, нужно побывать на его родине. BTS / BangTan отправляются в Америку, в Лос-Анджелес, где им предстоит познакомиться со звездами хип-хопа. Выполняя задания своих наставников, наблюдая за ними и делая небольшие открытия, BTS еще на один шаг приблизятся к своей цели - стать настоящими хип-хоп артистами. </p></font>
                    <div class="row">
  <div class="column">
    <img src="https://i.ibb.co/F5kMQkg/514-o.jpg" width="300" tabindex="0"/>
  </div>
  <div class="column">
    <img src="https://i.ibb.co/Cvkv6Zm/537-o.jpg" width="300" tabindex="0"/>
  </div>
  <div class="column">
    <img src="https://i.ibb.co/8nkPmGH/536-o.jpg" width="300" tabindex="0"/>
  </div>
  <div class="column">
    <img src="https://i.ibb.co/JvY6JZt/528-o.jpg" width="300" tabindex="0"/>
  </div>
</div>
            <br>
                <hr>
             <font style="italic" face="footlight mt light" size="5"><p><b>BTS: Lucky draw (2015)</b></p></font>
                <font style="italic" face="footlight mt light" size="4"><p>Видео-игра с группой BTS, где один из участников выбирает миссию для каждого эпизода. Ребята делятся на две команды. Будет увлекательно посмотреть на их соревнование.</p></font>
            <div class="row">
  <div class="column">
    <img src="https://i.ibb.co/Ch1zg6M/maxresdefault-3.jpg" width="300" tabindex="0"/>
  </div>
  <div class="column">
    <img src="https://i.ibb.co/kKk7nFt/c9782a8360447de44d5aa5d2fe172d81.jpg" width="300" tabindex="0"/>
  </div>
  <div class="column">
    <img src="https://i.ibb.co/TRqZP07/BTS-bokbulbok.webp" width="300" tabindex="0"/>
  </div>
  <div class="column">
    <img src="https://i.ibb.co/Ht8XWhD/maxresdefault-4.jpg" width="300" tabindex="0"/>
  </div>
</div>
            <br>
                <hr>
             <font style="italic" face="footlight mt light" size="5"><p><b>BTS Gayo (2015-2017)</b></p></font>
                <font style="italic" face="footlight mt light" size="4"><p>Очередное небольшое шоу, транслируемое в приложении Vapp, с группой BTS. В нем парни соревнуются, кто лучше знает корейскую музыку, а заодно знакомят нас с ней.</p></font>
            <div class="row">
  <div class="column">
    <img src="https://i.ibb.co/ZdHy9FW/MV5-BN2-Zi-MThm-ZGYt-ZTUy-OS00-ZTIw-LWFh-OWQt-Mz-A0-Yzk3-Zjk2-ZTk3-Xk-Ey-Xk-Fqc-Gde-QXVy-Nj-Uy-Mz-A0.jpg" width="300" tabindex="0"/>
  </div>
  <div class="column">
    <img src="https://i.ibb.co/DtyWF8P/tumblr-25399fc2f94b997d05217d604a1c935c-240a7325-1280.jpg" width="300" tabindex="0"/>
  </div>
  <div class="column">
    <img src="https://i.ibb.co/1sBvMPN/photo70273-1619723685.jpg" width="300" tabindex="0"/>
  </div>
  <div class="column">
    <img src="https://i.ibb.co/wc6j57D/Gayo2.webp" width="300" tabindex="0"/>
  </div>
</div>
            <br>
                <hr>
             <font style="italic" face="footlight mt light" size="5"><p><b>Bon Voyage</b></p></font>
                <font style="italic" face="footlight mt light" size="4"><p>Шоу, где BTS путешествуют по разным странам. При этом им нужно самим все спланировать и обеспечить себя всем необходимым в рамках ограниченного бюджета.<br>На данный момент выпущено 4 сезона: 1-й - Норвегия, Финляндия, Швеция (2016); 2-й - Гавайи (2017); 3-й - Мальта (2018); 4-й - Новая Зеландия (2019).</p></font>
            <div class="row">
  <div class="column">
    <img src="https://i.ibb.co/93TvsW0/203-o.jpg" width="300" tabindex="0"/>
  </div>
  <div class="column">
    <img src="https://i.ibb.co/6W96fVg/scale-1200-1.webp" width="300" tabindex="0"/>
  </div>
  <div class="column">
    <img src="https://i.ibb.co/92LBdZr/image-1.webp" width="300" tabindex="0"/>
  </div>
  <div class="column">
    <img src="https://i.ibb.co/LYj4wzP/206-o.jpg" width="300" tabindex="0"/>
  </div>
</div>
            <br>
                <hr>
             <font style="italic" face="footlight mt light" size="5"><p><b>BTS In The Soop (2020-2021)</b></p></font>
                <font style="italic" face="footlight mt light" size="4"><p>Действие шоу происходит в лесу. Концепция состоит в том, чтобы проводить время, выполняя действия, которые «где-то между повседневной жизнью и отдыхом». Участники будут создавать свои собственные графики заранее и проводить время, наслаждаясь хобби. Хотя каждый из участников будет делать разные вещи, семеро из них будут проводить время вместе в одном и том же месте.<br>1 сезон (8 серий) 19.08.2020 - 07.10.2020<br>2 сезон (5 серий) 15.10.2021 - 12.11.2021</p></font>
            <div class="row">
  <div class="column">
    <img src="https://i.ibb.co/V9bWWjR/1599306633-bts-crop1596323248228.jpg" width="300" tabindex="0"/>
  </div>
  <div class="column">
    <img src="https://i.ibb.co/mJ5g6K8/1636135158-untitled-design.png" width="300" tabindex="0"/>
  </div>
  <div class="column">
    <img src="https://i.ibb.co/ScD3hjS/BTS-In-SOOP-BTS-Ver.jpg" width="300" tabindex="0"/>
  </div>
  <div class="column">
    <img src="https://i.ibb.co/xqS8JPC/bts-in-the-soop.jpg" width="300" tabindex="0"/>
  </div>
</div>
            <br>
                <hr>
             <font style="italic" face="footlight mt light" size="5"><p><b>Run BTS (2015 - 2021)</b></p></font>
                <font style="italic" face="footlight mt light" size="4"><p>В этом шоу BTS занимаются всем, что может взбрести в голову съемочной команде и самим мемберам. От флористики и лепки, до игры в мафию и других соревнований.</p></font>
            <div class="row">
  <div class="column">
    <img src="https://i.ibb.co/SX6vBXS/288-o.jpg" width="300" tabindex="0"/>
  </div>
  <div class="column">
    <img src="https://i.ibb.co/QX5cxMg/553-o.jpg" width="300" tabindex="0"/>
  </div>
  <div class="column">
    <img src="https://i.ibb.co/TmBjPzD/552-o.jpg" width="300" tabindex="0"/>
  </div>
  <div class="column">
    <img src="https://i.ibb.co/Wv1tdmK/549-o.jpg" width="300" tabindex="0"/>
  </div>
</div>
            <br>
                <hr>

        </article>


  </main>
</body>