<!doctype html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
     <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link herf="style.css" rel="stylesheet">
<title>BTS Universe</title>
  <style>
  a {
    text-decoration: none;
   }

      body {
    background: url(https://i.ibb.co/K0bM0nq/lmhb-WPI5w-Y.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
   }
     .brd {
    border: 5px double gray;
    padding: 10px;
   }
      .scale {
    transition: 1s; /* Время эффекта */
   }
   .scale:hover {
    transform: scale(1.2);
    }


  </style>
</head>


<body>

<div class="container">
  <header class="blog-header py-3">
       <div class="row flex-nowrap align-items-center">
        <center>
      <div class="col-4 text-center">
        <center><h1 class="blog-header-logo text-dark"><font face="Segoe script">Jasin uju</font></h1></center>
      </div>
        </center>
    </div>
  </header>

<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
        <p><a href="/"><img src="https://i.ibb.co/vmJtWjS/HYqr-GGLZub-U-removebg-preview-1.png" width="40"
   height="30" border="0"></a></p>
        <font size="5" face="footlight mt light"><a class="p-2 link-secondary" href="/SK" style="color: black">Южная Корея</a></font>
      <font size="5" face="footlight mt light"><a class="p-2 link-secondary" href="/member" style="color: black">Профили участников</a></font>
      <font size="5" face="footlight mt light"><a class="p-2 link-secondary" href="/webtoon" style="color: black">Webtoon</a></font>
        <font size="5" face="footlight mt light"><a class="p-2 link-secondary" href="/awards" style="color: black">Награды</a></font>
      <font size="5" face="footlight mt light"><a class="p-2 link-secondary" href="/show" style="color: black">Шоу</a></font>
        <font size="5" face="footlight mt light"><a class="p-2 link-secondary" href="/logchat" style="color: black">Чат</a></font>
    </nav>
  </div>
</div>


  <main class="container">
  <div class="p-4 p-md-5 mb-4 text-black brd">
    <a><img src="https://i.ibb.co/hMvWvK9/1-YVt-I7-Mniv21xnz-Pt-WKRBYw.jpg"  border="0" width="500" height="300" align="right" vspace="5" hspace="20"></a>
    <div class="col-md-6 px-0">
      <font face="footlight mt light"><h1 class="display-4 fst-italic">Приоткройте дверь в новую вселенную</h1></font>
      <font size="8" face="footlight mt light"><p class="lead my-3">BTS Universe - это полноценная альтернативная Вселенная. Клипы, вебтун, приложение, игра, дорама - все это позволяет проводить время с любимой группой всегда и везде. За всем этим стоит огромный труд большого количества человек и, конечно, самих BTS.</p></font>
    </div>
  </div>


        <article class="blog-post">
         <font style="italic" color="#4169E1" face="footlight mt light"><h3 class="blog-post-title fst-italic">Сюжет и персонажи вселенной</h3></font>
         <div class="col-auto d-none d-lg-block">
         </div><font style="italic" face="footlight mt light" size="4">
        <a><p>Сюжет строится вокруг истории всех семи участников, которые сталкиваются со своими тревогами в альтернативном мире и противостоят тем, что могут произойти в будущем.</p></a>
        <a><p>Каждый участник BTS имеет своего собственного персонажа, который остается неизменным на протяжении всей последовательности сюжета. Вот краткое объяснение каждого персонажа.</p></a>
        <img src="https://i.ibb.co/cg5Kptm/jin-sad.gif" width="200" height="130" align="left" vspace="2" hspace="10">
        <a><p><b>Джина</b> можно считать главным героем вселенной. Он перевелся из школы в Америке и, как правило, все фотографирует. Он встретил женщину, которая бросила свой дневник. Прочитав его, Джин узнает о загадочном «цветке смеральдо».<br>
        Он находит дикие цветы смеральдо, а затем идет на свидание с девушкой, но когда она пересекает улицу, ее сбивает машина. Затем Джин узнает, что он обрёл способность поворачивать время вспять и пользуется этим. На протяжении всего континуума он пытается спасти всех, но он борется, потому что плохие вещи продолжают происходить.</p></a>
        <hr>
        <img src="https://i.ibb.co/NpvdMB6/7b0b66354089e17d046c3e684388a7267151d3d5-hq.gif" width="220" height="130" align="right" vspace="2" hspace="10">
        <a><p><b>Юнги</b> любил играть на фортепиано со своей матерью, но она погибла во время пожара, и ему пришлось переехать к отцу. Он изо всех сил пытался справиться со смертью своей матери, поэтому ненавидел тишину в новом доме. Он нашел некое утешение в своих друзьях, но иногда он набрасывается на них, как, например, его драка с Чонгуком в клипе «Run».<br>
            В вебтуне Юнги умирает, несмотря на то, что Чонгук пытается вытащить его из огня в клипе «Euphoria». Хотя с возможностью путешествий во времени вполне вероятно, что Юнги вернется в какой-то момент.</p></a>
        <hr>
        <img src="https://i.ibb.co/ZSffysK/tumblr-nvm3se-EWOI1tjhq5po2-r1-250.webp" width="135" height="140" align="left" vspace="2" hspace="10">
        <a><p><b>Намджун</b> работает неполный рабочий день на заправочной станции. Он заботится о своих друзьях, но не может заставить себя действовать, чтобы защитить их, вместо этого он наблюдает издалека.  Такое отношение является результатом постоянной внутренней борьбы в Намджуне между тем, чтобы помочь своим друзьям и защитить себя.</p></a><a><p> Когда Тэхён попадает в беду, Намджун не может помочь ему, потому что он попал в тюрьму.</p></a>
        <hr>
        <img src="https://i.ibb.co/DKHmwMr/tumblr-no5fz7q-Evk1tz9gmro5-400.webp" width="180" height="150" align="right" vspace="2" hspace="10">
        <a><p><b>Хосока</b> оставила мама в парке развлечений, когда он был еще ребенком. Он прожил десять лет в приюте, что нанесло тяжелый урон его психическому здоровью. В конце концов у него диагностировали синдром Мюнхгаузена, психическое расстройство, которое заставляет человека вести себя так, как будто он/она физически и психически болен, несмотря на то, что это не так. </p></a><a><p>Это также вызывает серьезные эмоциональные трудности. Его часто пичкают лекарствами, и он сталкивается с вопросом, стоит ли ему их принимать или нет. У него сильная связь с Чимином, и он всегда за ним присматривает.</p></a>
        <hr>
        <img src="https://i.ibb.co/qmKW4pq/d95ad6e83d797b2630a9916ab3d7b648427ab30f-hq.gif" width="180" height="130" align="left" vspace="2" hspace="10">
        <a><p>У <b>Чимина</b> есть какая-то тяжелая болезнь, из-за которой у него появляются судороги и он долгое время проводит в больнице. Он часто пропускает школу из-за длительных и регулярных посещений больницы.</p></a><a><p> Как только он встречает своих друзей, он на некоторое время счастлив, но затем снова попадает в больницу, и это заставляет его снова впадать в депрессию.</p></a>
        <hr>
        <img src="https://i.ibb.co/wyTsvs8/bts-mv.gif" width="190" height="140" align="right" vspace="2" hspace="10">
            <a><p>Мать <b>Тэхёна</b> умерла,когда он был подростком , и его отец стал жестоким по отношению к нему и его сестре. Он подружился с Намджуном, и вместе они делают различного рода пакости ради развлечения. Тэхён использует это как своего рода побег из своей жестокой семейной жизни.</p></a><a><p> Однажды он приходит к своей сестре, которую оскорбляет его отец, и заканчивает тем, что убивает  отца, пытаясь остановить его. Это происходит в клипе «I NEED U».</p></a>
        <hr>
        <img src="https://i.ibb.co/ssLvfKn/original.gif" width="220" height="125" align="left" vspace="2" hspace="10">
            <a><p><b>Чонгук</b> — макнэ группы, и он просто хочет, чтобы его «хёны» были счастливы. У него очень сильная связь с Юнги, который борется с болью, которая вселилась в его сердце после смерти матери. Он покончил жизнь самоубийством в клипе «Euphoria», вероятно потому, что не смог спасти Шугу.</p></a><a><p> Чонгук не мог сделать всех счастливыми, и это сильно повлияло на него.</p></a>
    </font>
        <hr>
    </article>

       <article class="blog-post">
        <font style="italic" color="#4169E1" face="footlight mt light"><h3 class="blog-post-title fst-italic">Хронология событий вселенной в клипах</h3></font>
         <div class="col-auto d-none d-lg-block">
         </div><font style="italic" face="footlight mt light" size="4">
        <img src="https://i.ibb.co/DDMXd87/1635994248-image-readtop-2021-1045345-16359896534838338.jpg" width="340" height="440" align="right" vspace="10" hspace="10">
        <div style="float: left; width: 35%;"><p>1. Danger (Клип)</p>
            <p>2. I need you (Клип)</p>
            <p>3. On stage prologue (короткий фильм)</p>
            <p>4. Run (Kлип)</p>
            <p>5. Young Forever (Kлип)</p>
            <p>6. Begin (короткий фильм)</p>
            <p>7. Lie (короткий фильм)</p>
            <p>8. Stigma (короткий фильм)</p>
            <p>9. First love (короткий фильм)</p>
            <p>10. Reflection (короткий фильм)</p>
            <p>11. Mama (короткий фильм)</p></div>
            <div style="float: right; width: 35%;"><p>12. Awake (короткий фильм)</p>
            <p>13. Boy meets evil (Клип)</p>
            <p>14. Blood sweat & tears (Клип)</p>
            <p>15. Spring Day (Клип)</p>
            <p>16. Love Yourself Highlight Reel (короткий фильм)</p>
            <p>17. Serendipity (Клип)</p>
            <p>18. Euphoria (Клип)</p>
            <p>19. Singularity (Клип)</p>
            <p>20. Epiphany (Клип)</p>
                <p>21. Fake Love (Клип)</p></div>
    </font>
    </article>
  </main>