<!doctype html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">

    <title>Webtoon BTS: 7 fates</title>
  <style>
   bo {
    border: 1px solid black;
    padding: 20px;
   }
   body {
    background: url(https://i.ibb.co/K0bM0nq/lmhb-WPI5w-Y.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
   }
   .brd {
    border: 5px double gray;
    padding: 10px;
   }
   .brds {
    border: 2px solid gray;
    padding: 2px;
   }
   a {
    text-decoration: none;
   }

button {
 background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
 background-size: 800% 400%;
 padding: 1em 2em;
 display: inline-block;
 border: none;
 border-radius: 10px;
 font-size: 17px;
 font-weight: 700;
 color: white;
 transition: all .5s ease-in-out;
 animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
}

button:hover {
 animation: gradient 3s infinite;
 transform: scale(1.05);
}

button:active {
 animation: gradient 3s infinite;
 transform: scale(0.8);
}

@keyframes gradient {
 0% {
  background-position: 0% 50%;
 }

 50% {
  background-position: 100% 50%;
 }

 100% {
  background-position: 0% 50%;
 }
}


  </style>
</head>
<body>
<div class="container">
  <header class="blog-header py-3">
      <div class="row flex-nowrap align-items-center">
        <center>
      <div class="col-4 text-center">
        <center><h1 class="blog-header-logo text-dark"><font face="Segoe script">Chakho</font></h1></center>
      </div>
        </center>
    </div>
  </header>

  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
        <p><a href="/"><img src="https://i.ibb.co/vmJtWjS/HYqr-GGLZub-U-removebg-preview-1.png" width="40"
   height="30" border="0"></a></p>
      <font size="5" face="footlight mt light"><a class="p-2 link-secondary" href="/SK" style="color: black">Южная Корея</a></font>
      <font size="5" face="footlight mt light"><a class="p-2 link-secondary" href="/member" style="color: black">Профили участников</a></font>
      <font size="5" face="footlight mt light"><a class="p-2 link-secondary" href="/universe" style="color: black">BTS Universe</a></font>
      <font size="5" face="footlight mt light"><a class="p-2 link-secondary" href="/awards" style="color: black">Награды</a></font>
      <font size="5" face="footlight mt light"><a class="p-2 link-secondary" href="/show" style="color: black">Шоу</a></font>
      <font size="5" face="footlight mt light"><a class="p-2 link-secondary" href="/logchat" style="color: black">Чат</a></font>
    </nav>
  </div>
</div>


<main class="container">
  <div class="p-4 p-md-5 mb-4 text-black brd">
    <a><img src="https://i.ibb.co/qCbC9NB/Image-from-i-OS-121.jpg"  border="0" width="500" height="250" align="right" vspace="0" hspace="20"></a>
    <div class="col-md-6 px-0">
      <font face="footlight mt light"><h1 class="display-4 fst-italic">One more adventure...</h1></font>
      <font size="8" face="footlight mt light"><p class="lead my-3">7FATES: CHAKHO — является городской фэнтези, вдохновлённой охотниками на тигров в династию Чосон.<br>HYBE переосмыслили традиционные корейские сказки и сказания и создали абсолютно новую оригинальную историю о беомах (тиграх) и охотников на них.</p></font>
    </div>
  </div>


  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 flex-md-row mb-4 shadow-sm h-md-250 position-relative brds">
        <div class="col p-4 d-flex flex-column position-static">
          <font color="#191970" size="4" face="footlight mt light"><strong class="d-inline-block mb-2 text-primary">Naver</strong></font>
          <font face="footlight mt light"><h3 class="mb-0">Webtoon</h3></font>
          <font face="footlight mt light"><div class="mb-1 text-muted">7FATES: CHAKHO</div></font>
          <font face="footlight mt light"><p class="card-text mb-auto">Первое представление вебтуна с BTS произошло на публичном онлайн-брифиинге компании HYBE 4 ноября 2021.<br>Первая глава вышла 14 января 2022 года </p></font>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="https://i.ibb.co/6yh5CjD/20220115-215741.jpg" width="220" height="240" align="right" vspace="10" hspace="40">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 flex-md-row mb-4 shadow-sm h-md-250 position-relative brds">
        <div class="col p-4 d-flex flex-column position-static">
          <font color="#191970" size="4" face="footlight mt light"><strong class="d-inline-block mb-2 text-primary">Music</strong></font>
          <font face="footlight mt light"><h3 class="mb-0">Soundtrack</h3></font>
          <font face="footlight mt light"><div class="mb-1 text-muted">Jungkook - Stay Alive (prod. by Suga)</div></font>
          <audio controls>
    <source src="https://shamuz.net/uploads/music/2022/02/BTS_Chonguk_Syuga_Stay_Alive.mp3" type="audio/mpeg">
        </audio>
            <br>
            <font face="footlight mt light"><p class="card-text mb-auto">Текст песни Stay Alive выражает желание главных героев, которые были брошены навстречу суровой судьбе.</p></font>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="https://i.ibb.co/4FWYV3N/stay-alive-main.webp" border="0" width="230" height="240" align="right" vspace="10" hspace="25">
        </div>
      </div>
    </div>
  </div>

 <article class="blog-post">
         <font style="italic" color="#4169E1" face="footlight mt light"><h3 class="blog-post-title fst-italic">Я поведаю вам историю...</h3></font>
         <div class="col-auto d-none d-lg-block">
             <font style="italic" face="footlight mt light"  size="4"><p style="border:3px #000000  double;">Сюжет 7FATES: CHAKHO разворачивается в ближайшем будущем в коррумпированном городе Син-си. Его атакуют монстры, называемые беомами (тиграми).<br>А семеро парней, связанные судьбой, проходя вместе через невзгоды и происшествия, собираются в группу охотников CHAKHO, чтобы противостоять беомам.<br>Вы узнаете, почему их должно быть именно семеро и какова их судьба.</p></font>
         </div>
     <img src="https://i.ibb.co/KGHSNJS/7fates-chakho-banner.png" width="1295">
     <hr>
     <font style="italic" color="#4169E1" face="footlight mt light"><h3 class="blog-post-title fst-italic">Bts и их персонажи</h3></font>
     <hr>
     <img src="https://i.ibb.co/94pYh63/photo5240197840624532621.jpg" width="180" align="left" vspace="2" hspace="10">
     <font style="italic" face="footlight mt light" size="5"><p><b>RM — До Геон</b></p></font>
     <font style="italic" face="footlight mt light" size="4"><p>Персонаж RM — эксперт по криминалу До Гон. Он борется с невзгодами, чтобы сохранять спокойствие в мире. До Гон хорошо владеет оружием, он умен и силен.<br><br>RM объяснил, что До Гон чрезвычайно независим, из-за чего он не хочет присоединяться к команде Чакхо. Он считает, что может работать сам по себе и не нуждается в помощниках. Однако, как и в случае с BTS, судьба свела персонажей вместе, и они неизбежно будут вместе.</p></font>
     <br><br>
     <hr>
     <img src="https://i.ibb.co/D4DytbQ/photo5240197840624532614.jpg" width="180" align="left" vspace="2" hspace="5">
     <font style="italic" face="footlight mt light" size="5"><p><b>Jin — Хван</b></p></font>
     <font style="italic" face="footlight mt light" size="4"><p>По словам Джина, Хван перенес много боли из-за потери семьи. Он был обычным лучником, но после того, как его семья погибла от нападения тигра, он сменил приоритеты и стал охотником.<br><br>Хван очень трудолюбив, а еще он силен в стрельбе из лука.</p></font>
     <br>
     <hr>
     <img src="https://i.ibb.co/2WnfS8x/photo5240197840624532622.jpg" width="180" align="left" vspace="2" hspace="10">
     <font style="italic" face="footlight mt light" size="5"><p><b>Suga — Шейн</b></p></font>
     <font style="italic" face="footlight mt light" size="4"><p>Персонаж Шуги, Шейн, прошел через многое и даже пережил жестокое нападение тигра, и это только укрепило его характер.<br><br>Шейну предстоит встретиться с другими персонажами в момент отчаяния. Они постепенно станут друзьями и помогут ему справиться с переживаниями.</p></font>
     <br><br>
     <hr>
     <img src="https://i.ibb.co/jgyKN51/photo5240197840624532613.jpg" width="180" align="left" vspace="2" hspace="10">
     <font style="italic" face="footlight mt light" size="5"><p><b>J-Hope — Хосу</b></p></font>
     <font style="italic" face="footlight mt light" size="4"><p>В прошлом у Хосу тоже была неприятная встреча с тигром, но еще он пережил похищение злодеями. Эти события сильно изменили его.<br><br>Джей-Хоуп поделился, что его персонаж не так прост как может показаться, а еще он обладает особым навыком, который называется «золотые глаза».</p></font>
     <br>
     <hr>
     <img src="https://i.ibb.co/RQKtNjx/photo5240197840624532612.jpg" width="180" align="left" vspace="2" hspace="10">
     <font style="italic" face="footlight mt light" size="5"><p><b>Jimin — Хару</b></p></font>
     <font style="italic" face="footlight mt light" size="4"><p>Чимин не собирается хранить секреты и признается, что его персонаж Хару — не совсем человек.<br><br>Долгие годы он был камнем и охранял врата в мир тигров, но затем превратился в человека и присоединился к Чакхо. Но он запомнил и научился многому, пока не превратился в человека, поэтому будет очень полезен в команде охотников.</p></font>
     <br>
     <hr>
     <img src="https://i.ibb.co/NxNQNxQ/photo5240197840624532608.jpg" width="180" align="left" vspace="2" hspace="10">
     <font style="italic" face="footlight mt light" size="5"><p><b>V — Джоан</b></p></font>
     <font style="italic" face="footlight mt light" size="4"><p>С персонажем Ви происходит невероятное — он влюбляется в тигра.<br><br>Разумеется, ядовитая история любви между жертвой и охотником не может быть счастливой. Джоану придется пойти на многое, чтобы справиться с последствиями своего выбора.</p></font>
     <br>
     <hr>
     <img src="https://i.ibb.co/0nV7Ht8/photo5240197840624532623.jpg" width="180" align="left" vspace="2" hspace="10">
     <font style="italic" face="footlight mt light" size="5"><p><b>Jungkook — Зеха</b></p></font>
     <font style="italic" face="footlight mt light" size="4"><p>Как и Хару, персонаж Чонгука не совсем человек, он ребенок тигра и обычного смертного. Но Зеха об этом узнает не сразу, и это по-настоящему шокирует его.<br><br>Зеха использует свои способности тигра, чтобы быть полезным в команде, но при этом он пытается сохранить свое происхождение в тайне.</p></font>
    </article>


</main>